root = true

[*.{cs,md,csproj,sln,py,js,ts,jsx,tsx,html,css,scss,json,yaml,yml}]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4

[*.{png,jpg,jpeg,gif,ico,zip,exe,dll}]
trim_trailing_whitespace = false
